/*Зануления*/

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*Основные стили*/

.container {
    max-width: 1140px;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

/*header*/

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header__center {
    display: flex;
}

.header__center a {
    margin: 0 12px;
    color: grey;
    text-decoration: none;
    font-size: 0.9em;
}

.header__center a:hover {
    color: black;
}

.header__left div:nth-child(1) {
    color: grey;
    font-size: 0.8em;
}

.header__left div:nth-child(2) {
    font-weight: bold;
    color: black;
}

.header__right {
    font-size: 1.1em;
    font-weight: bold;
}

/*main__first*/

.main__first {
    height: 520px;
    background-color: #f5f6f7;
}

.content__first {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first__description div {
    margin-bottom: 30px;
}

.first__description div:nth-child(1) {
    font-size: 1.5em;
    font-weight: bold;
}

.first__description div:nth-child(2) {
    font-size: 1.1em;
    font-weight: 100;
}

.first__description div:nth-child(3) {
    font-size: 1.1em;
    font-weight: 100;
}

.content__first button {
    background-color: #fedd2d;
    height: 65px;
    width: 265px;
    border: 0;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
}

.content__first button:hover {
    background-color: orange;
    transition: 0.5s;
}

.content__first button:not(:hover) {
    transition: 0.5s;
}

.car {
    position: absolute;
    left: -200px;
    top: 150px;
    max-width: 25%;
}

.div__man {
    height: 520px;
    display: flex;
    align-items: flex-end;
}

/*form*/

.form1 {
    width: 360px;
    height: 470px;
    background-color: white;
}

.form1 .submit {
    font-size: 1.1em;
}

.form1 legend {
    height: 76px;
    width: 100%;
    background-color: #fedd2d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form1 legend div {
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
}

.form1__inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form1 input {
    border: 0;
    background-color: #f5f6f7;
    width: 300px;
    height: 60px;
    margin-top: 30px;
    border-radius: 8px;
}

.form1 .submit {
    height: 58px;
    background-color: #fedd2d;
}

/*content__second*/

.content__second {
    margin-bottom: 80px;
}

.content__second p {
    text-align: center;
}

.content__second p:nth-child(1) {
    font-size: 1.7em;
    font-weight: bold;
    line-height: 0.2;
    margin-top: 80px;
}

.content__second p:nth-child(2) {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 0.2;
}

.content__second p:nth-child(3) {
    margin-top: 50px;
}

/*content__third*/

.content__third .container {
    margin-bottom: 70px 0;
}

.pictures {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.pictures div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.pictures img {
    width: 30%;
}

.pictures span {
    margin: 20px 0;
    text-align: center;
}

/*----------------------frame--------------------*/

.frame p {
    font-size: 1.7em;
    font-weight: bold;
}